body {
  width: 1600 px;
  height: 2349 px;
  background: #fff;
}

header {
  width: 1600 px;
  height: 80 px;
}

.Web {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26 px;
  font-weight: 700;
  letter-spacing: 0.78 px;
  padding: 24px 93px 25px 215px;
}

.Studio {
  color: black;
  font-family: Raleway;
  font-size: 26 px;
  font-weight: 700;
  letter-spacing: 0.78 px;
}

.agencja {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14 px;
  font-weight: 500;
  letter-spacing: 0.28 px;
  padding: 32px 46px 32px 0px;
}

.email {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14 px;
  font-weight: 500;
  letter-spacing: 0.28 px;
  padding: 32px 50px 32px 0px;
}

.portfolio {
  color: #212121;
  font-family: Roboto;
  font-size: 14 px;
  font-weight: 500;
  letter-spacing: 0.28 px;
  padding: 32px 64px 32px 0px;
}

.kontakt {
  color: #212121;
  font-family: Roboto;
  font-size: 14 px;
  font-weight: 500;
  letter-spacing: 0.28 px;
  padding: 32px 353px 32px 0px;
}

.telefon {
  color: #757575;
  font-family: Roboto;
  font-size: 14 px;
  font-weight: 500;
  letter-spacing: 0.28 px;
  padding: 32px 227px 32px 0px;
}

a {
  text-decoration-line: none;
}
