body {
  background: #fff;
  justify-content: center;
  width: 1600px;
  height: 2349px;
  margin: auto;
}

.menu {
    width: 1600px;
    height: 80px;
    flex-shrink: 0;
}

.Web {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-left: 215px;
    margin-right: 93px;
}

.Studio {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.agencja {
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    margin: 32px 46px 32px 0px;
    text-align: center;
}

.email {
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    margin: 32px 50px 32px 0px;
}

.portfolio {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    margin: 32px 64px 32px 0px;
}

.kontakt {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    margin: 32px 353px 32px 0px;
}

.telefon {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
  margin: 32px 227px 32px 0px;
}

a {
  text-decoration-line: none;
}

.baner {
    width: 1600px;
    height: 600px;
    background: #2f303a;
    margin-top: 0px;
}

h1 {
    color: #fff;
    width: 696px;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 200px 452px 0px 452px;
}

button {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    margin: 30px 700px 0px 700px;
}

.about {
    width: 1170px;
    height: 101px;
    flex-shrink: 0;
    margin-left: 215px;
}

.strength {
    width: 270px;
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.description {
    width: 270px;
    height: 75px;
    flex-shrink: 0;
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.block_about {
    float: left;
    margin-top: 94px;
    margin-bottom: 94px;
    padding-right: 30px;
}

.block_about_4 {
    float: left;
    margin-top: 94px;
    margin-bottom: 94px;
}

.our_work {
    width: 1170px;
    height: 386px;
    flex-shrink: 0;
    margin-left: 215px;
    margin-right: 215px;
    margin-bottom: 94px;
    clear: both;
}

.What_we_do {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.work_img {
    padding-right: 26px;
}

.our_team {
    width: 1600px;
    height: 648px;
    flex-shrink: 0;
    background: #F5F4FA; 
}